*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/launcher/build
/unityLibrary/build
/unityLibrary/src/main/Il2CppOutputProject/
/captures
.externalNativeBuild
.cxx
local.properties
/unityLibrary/src/main/jniStaticLibs/
/unityLibrary/src/main/jniLibs/
